<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nova's Express Skills</title>
</head>
<body>
    <a href = "/">Home</a> <a href ="/skills">Nova's Skills</a> 
    <h1>Express Skills</h1>
    <ul>
        <% skills.forEach(function(skill) { %>
            <li>
               <a href="/skills/<%= skill.id %>"><%= skill.skill %></a>
                - 
                <%= skill.details.length > 5 ? 'Has mastered over 5 components' : 'Has Mastered close to  5 components' %>
            </li>
            <% }); %>
    </ul>
    
</body>
</html>