 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nova's Express Skills</title>
</head>
<body>
    <h3> <%= skill.skill %></h3>
    <h3> Mastered 5 components: <%= skill.details.length >= 5 ? 'Yes' : '= No' %></h3>
    
</body>
</html>